$bg-win-menu: #3c3f41;
$color-win-icon-close: #c42b1c;

$h-win-menu: 40px;
$size-win-btns-icon: 12px;
$pd-win-btns: 14px 18px;
$w-win-logo: 28px;

[class^="btn-win"] {
    border: none;
    font-size: 0;
    background: none;
    
}

.window-menu {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-win-menu;
    max-width: 100%;
    // height: $h-win-menu;
    border-bottom: 1px solid #1e1f22;
    -webkit-user-select: none;
    
    &__content {
        display: flex;
        flex-direction: row;
        width: 20%;
        background: linear-gradient(90deg, rgba(245, 97, 94, 0.204) 0%, rgba(245, 97, 94, 0.234), rgba(255, 211, 0, 0.00) 100%);
    }
    &__drag-bar {
        display: flex;
        width: 100%;
        justify-content:center;
        align-items: center;
        height: $h-win-menu;
        // padding: auto;
        padding: 0 15px;
        // display: none;
        -webkit-app-region: drag;
        h1 {
            // display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 1rem;
            font-weight: 400;
            max-width: 35vw;
            // display: flex;
            // flex: 1 1 auto;
            
        }
    }
    &__btns-win-ctrl {
        display: flex;
        flex-direction: row;
        color: #ffff;
        // gap: 18px;
    }
}

.win-logo{
    padding: 4px 4px 4px 8px !important;
    display: flex;
    align-items: center;
    img {
        height: $w-win-logo;
        width: $w-win-logo;
    }
}

.btn-win {
    padding: 12.5px;
    &:hover {
        transition: all 0.1s ease 0s;
        background-color: #ffffff30;

    }
}

.btn-win-ctrl {
    padding: $pd-win-btns;
    background-color: $bg-win-menu;
    transition: all 0.1s ease 0s;
    &:hover {
        transition: all 0.1s ease 0s;
        filter: brightness(150%);
    }
    &__btn-close {
        &:hover {
            transition: all 0.1s ease 0s; 
            background-color: $color-win-icon-close !important;
        }
    }
}
.btn-win__icon {
    height: $size-win-btns-icon + 3;
    width: $size-win-btns-icon + 3;
}


.btn-win-ctrl__icon {
    height: $size-win-btns-icon;
    width: $size-win-btns-icon;
}

