$bg-win-menu: #3c3f41;
$color-win-icon-close: #c42b1c;

$size-win-btns-icon: 12px;
$pd-win-btns: 14px 18px;

[class^="btn-win"] {
    border: none;
    font-size: 0;
    background: none;
    
}

.window-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-win-menu;
    width: 100vw;
    border-bottom: 1px solid #1e1f22;
    
    &__content {
        display: flex;
        flex-direction: row;
        width: 20%;
        background: linear-gradient(90deg, rgba(255, 211, 0, 0.15) 0%, rgba(255, 211, 0, 0.25) 36.67%, rgba(255, 211, 0, 0.00) 100%);
    }
    &__btns-win-ctrl {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        color: #ffff;
        // gap: 18px;
    }
}

.btn-win {
    padding: 12.5px;
    &:hover {
        transition: all 0.1s ease 0s;
        background-color: #ffffff30;

    }
}

.btn-win-ctrl {
    padding: $pd-win-btns;
    background-color: $bg-win-menu;
    transition: all 0.1s ease 0s;
    &:hover {
        transition: all 0.1s ease 0s;
        filter: brightness(150%);
    }
    &__btn-close {
        &:hover {
            transition: all 0.1s ease 0s;
            background-color: $color-win-icon-close;
        }
    }
}
.btn-win__icon {
    height: $size-win-btns-icon + 3;
    width: $size-win-btns-icon + 3;
}


.btn-win-ctrl__icon {
    height: $size-win-btns-icon;
    width: $size-win-btns-icon;
}

